OPENROUTER_API_KEY=sk-or-v1-diw24efugbiuw45efb5iu1we6bfiuwb89s6c9qwbf3yuf178bf8bs7vd
# Set to True to run locally
RUN_LOCALLY=True
OLLAMA_MODEL_NAME=deepseek-r1:1.5b
MLX_LLM_MODEL_NAME=mlx-community/DeepSeek-R1-Distill-Qwen-14B-4bit
USE_MLX=False
PUT_JWT=your_put_jwt
STATE_FILE=data/game_state.json
